form {
  color: #1d013b;
  margin: 20px 5px;

  * {
    margin: 10px 5px;
  }

  input {
    border-radius: 10px;
    height: 35px;
    width: 70%;
  }

  label {
    color: black;
  }

  button {
    border-radius: 20px;
  }
}

#add-song-btn {
  color: black;
}

#playlist-new-name {
  width: 80%;
}

#add-submit {
  padding: 10px;
  background: #d3c2f1;
  border-color: #1d013b;
  color: #1d013b;
}
