body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

header, footer {
    background-color: #ebebeb;
    color: gray;
    border: 1px solid gray;
    padding-left: 15px;
}

.playlist-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: fit-content;
    margin: 20px;
}

.playlist:hover {
    box-shadow: 5px 5px 5px lightgray;
}

.playlist {
    border: 1px solid gray;
    border-radius: 20px;
    margin: 15px 30px;
    padding: 2px;
    height: fit-content;
}

.playlist .card-text {
    margin: 3px;
}

.playlist-cover {
    width: 100%;
    border-radius: 20px;
}

p {
    font-size: 12px;
}

.icon {
    width: 13px;
}


