:root {
  --darkpurple: #230f46;
  --purple: #d9c2f1;
  --lightpurple: #f8f5ff;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--lightpurple);
    display: flex;
    flex-direction: column;
    height: fit-content;
    min-height: 100vh;
    justify-content: space-between;
}

header, footer {
    background-color: var(--purple);
    color: var(--darkpurple);
    /* border: 1px solid var(--darkpurple); */
    padding-left: 15px;
}

header {
    display: grid;
    grid-template-columns: 50px 1fr 1fr;
}

.logo-container {
    align-self: center;
}

#logo {
    height: 40px;
}

header nav {
    align-self: center;
    justify-self: end;
    margin-right: 10px;
    
    & a {
        text-decoration: none;
        border: 2px solid var(--darkpurple);
        border-radius: 20px;
        padding: 10px;
        color: var(--darkpurple);
        background-color: var(--lightpurple);
        display: block;
    }
}

#home {
    width: 18px;
    height: 18px;
}

#playlist-cards {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.playlist:hover {
    box-shadow: 0px 0px 15px 1px var(--purple);
}

.playlist {
    /* border: 1px solid var(--darkpurple); */
    border-radius: 20px;
    margin: 15px;
    padding: 4px;
    width: 90%;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.playlist .card-text {
    margin: 3px 10px;
    height: 100%;
}

.card-text * {
    margin: 4px 1px;
}

.playlist-cover {
    width: 97%;
    margin-top: 3px;
    border-radius: 20px;
    align-self: center;
}

.playlist-name {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 24px;
    align-self: center;
    white-space: nowrap;
}

p {
    font-size: 12px;
}

.heart-icon {
    margin-right: 5px;
    pointer-events: none; /* is only working after clicking button once for featured page*/
}

.like-container:hover {
    box-shadow: 1px 5px 5px var(--lightpurple);
}

#featured-container {
    width: 60%;
    justify-self: center;
}


/* threshold viewport */
@media (min-width: 476px) {
    .playlist {
        width: 200px;
    }
}

@media (min-width: 720px) {
    #playlist-cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        margin: auto;
    }

    .playlist {
        /* border: 1px solid var(--darkpurple); */
        border-radius: 20px;
        margin: 15px;
        padding: 4px;
        width: min(80%, 250px);
        background-color: white;
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 1260px) {
    #playlist-cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        margin: 20px;
    }

    .playlist {
        width: 265px;
    }

    h2 {
        font-size: 100px;
    }
}